.Title {
  color: white;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
.SubTitle {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  margin: 15px;
  text-decoration: none;
}
.ButtonLink3 {
  font-size: 40px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;

  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.ButtonLink3:focus,
.ButtonLink3:hover {
  color: #fff;
}

.ButtonLink3:focus:after,
.ButtonLink3:hover:after {
  width: 100%;
  left: 0%;
}

.ButtonLink3:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #00e6f7;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.Img {
  border-radius: 15px;
}
.Countainer {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.ButtonGoActivity {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;

  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(255, 253, 253);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.ButtonGoActivity:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #45f3ff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.ButtonGoActivity:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #45f3ff;
  -webkit-transition: 100ms;
  transition: 100ms;
}
