.Paginated_List {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Text {
  color: white;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
.CardsPage {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.Filter_Option {
  margin-right: 50px;
  height: 30px;
  font-family: "Courier New", Courier, monospace;
}
.FilterOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 17%;
  margin-right: 13%;
  border-radius: 20px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.ButtonReload {
  margin: 20px;
}
.Paginated {
  display: flex;
  justify-content: center;
}

.ButtonReload {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;

  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(255, 253, 253);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.ButtonReload:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #45f3ff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.ButtonReload:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #45f3ff;
  -webkit-transition: 100ms;
  transition: 100ms;
}
