.Paginated_Number {
  --color: #00a97f;
  --color2: rgb(10, 25, 30);

  background-color: black;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);

  margin: 5px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Paginated_Number::after,
.Paginated_Number::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.Paginated_Number::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.Paginated_Number:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.Paginated_Number:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.Paginated_Number:hover {
  color: var(--color2);
}

.Paginated_Number:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.Paginated_List {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  margin-left: 15%;
  margin-right: 10%;

  border-radius: 20px;

  display: flex;
  justify-content: space-evenly;
}

.Paginated_NumbercurrentPage {
  --color: rgb(10, 25, 30);
  --color2: #00a97f;

  background-color: black;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color2);

  margin: 5px;
}

.Paginated_NumbercurrentPage::after,
.Paginated_NumbercurrentPage::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.Paginated_NumbercurrentPage::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
